---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=api-key&lang=en&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1604286000,"main":{"temp":13.73,"feels_like":10.12,"temp_min":12.39,"temp_max":13.73,"pressure":1018,"sea_level":1018,"grnd_level":936,"humidity":76,"temp_kf":1.34},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":5.06,"deg":128},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-11-02
        03:00:00"},{"dt":1604296800,"main":{"temp":12.13,"feels_like":9.53,"temp_min":11.34,"temp_max":12.13,"pressure":1016,"sea_level":1016,"grnd_level":935,"humidity":83,"temp_kf":0.79},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":3.52,"deg":136},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-11-02
        06:00:00"},{"dt":1604307600,"main":{"temp":11.56,"feels_like":9.01,"temp_min":11.32,"temp[...]
