---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=api-key&lang=en&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-47.06,"lat":-22.91},"weather":[{"id":211,"main":"Thunderstorm","description":"thunderstorm","icon":"11n"}],"base":"stations","main":{"temp":18,"feels_like":13.85,"temp_min":18,"temp_max":18,"pressure":1017,"humidity":72},"visibility":10000,"wind":{"speed":7.2,"deg":150},"clouds":{"all":75},"dt":1604536293,"sys":{"type":1,"id":8393,"country":"BR","sunrise":1604478061,"sunset":1604524955},"timezone":-10800,"id":3467865,"name":"Campinas","cod":200}'
  recorded_at: Thu, 05 Nov 2020 00:34:27 GMT
recorded_with: VCR 6.0.0
