---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=api-key&lang=en&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-47.06,"lat":-22.91},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":20,"feels_like":14.96,"temp_min":20,"temp_max":20,"pressure":1015,"humidity":52},"visibility":10000,"wind":{"speed":7.2,"deg":130},"clouds":{"all":40},"dt":1604265404,"sys":{"type":1,"id":8393,"country":"BR","sunrise":1604218962,"sunset":1604265649},"timezone":-10800,"id":3467865,"name":"Campinas","cod":200}'
  recorded_at: Sun, 01 Nov 2020 21:21:06 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid&q=Santiago
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":401, "message": "Invalid API key. Please see http://openweathermap.org/faq#error401
        for more info."}'
  recorded_at: Sun, 01 Nov 2020 22:38:16 GMT
recorded_with: VCR 6.0.0
